$primary: #070707;
$secondary: #828282;

$section-color: #f6f6f6;
$header__hr-color: #828282;

$white: #fff;
$black: #000;

$big-tablet-bp: 1000px;
$tablet-bp: 837px;
$mini-tablet-bp: 692px;
$big-mobile-bp: 550px;
$mobile-bp: 400px;
