.container {
  margin: 0 auto;
  width: 100%;

  max-width: 95rem;
  &--about {
    max-width: 48.5rem;
  }
  &--footer {
    max-width: 34.2rem;
  }
  @include breakpoint($big-tablet-bp) {
    padding: 0 2.9rem;
  }
}
