.intro {
  padding-top: 12.8rem;
  padding-bottom: 10.4rem;
  @include breakpoint($big-mobile-bp) {
    padding-top: 6.5rem;
    padding-bottom: 8.3rem;
  }
}

.intro__text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin-bottom: 5rem;
  @include breakpoint($big-mobile-bp) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }
}

.intro__title {
  max-width: 12.4rem;
  font-size: 4.73392rem;
  line-height: 5.9rem;

  opacity: 0;
  transform: translateX(-5rem);
  transition: opacity 0.5s, transform 1s;
  &.anim-active {
    opacity: 1;
    transform: translateX(0);
  }

  @include breakpoint($big-mobile-bp) {
    margin-bottom: 3rem;
  }
}

.intro__p {
  max-width: 15.5rem;

  font-family: "Gilroy-Medium";
  font-size: 1.8rem;
  line-height: 2.2rem;

  opacity: 0;
  transform: translateY(5rem);
  transition: opacity 0.5s, transform 1s;
  &.anim-active {
    opacity: 1;
    transform: translateY(0);
  }
  @include breakpoint($big-mobile-bp) {
    margin-bottom: 3.8rem;
  }
}

.change-language {
  margin-bottom: 3rem;

  font-family: "Gilroy-Bold";
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: bold;

  color: $secondary;

  transform: rotate(-90deg);

  opacity: 0;
  transform: translateX(5rem);
  transition: opacity 0.5s, transform 1s;
  &.anim-active {
    opacity: 1;
    transform: translateX(0);
    transform: rotate(-90deg);
  }

  span {
    color: $primary;
    vertical-align: bottom;
  }

  .change-language__button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    cursor: pointer;

    color: $secondary;
    transition: 0.3s;
    &:hover {
      color: $primary;
    }
    &.active-lang-button {
      color: $primary;
    }
  }

  @include breakpoint($big-mobile-bp) {
    opacity: 0;
    z-index: -1;
    position: absolute;
    transition: none;
    margin-bottom: 0;
    transition: none;
    transform: rotate(90deg);
    &.anim-active {
      opacity: 0;
      transform: rotate(90deg);
    }
  }
}

.intro__picture {
  * {
    width: 100%;
    height: auto;
  }
}
