.skills {
  padding: 9.1rem 0 11rem;
  @include breakpoint($mobile-bp) {
    padding: 8.3rem 0 9.8rem;
  }
}

.skills__text {
  display: inline-block;
  width: 100%;
  margin: 6.9rem 0 8.3rem;

  font-family: "Gilroy-Medium";
  font-size: 1.8rem;
  line-height: 2.2rem;
  text-align: center;

  opacity: 0;
  transform: translateY(5rem);
  transition: opacity 0.5s, transform 1s;
  &.anim-active {
    opacity: 1;
    transform: translateY(0);
  }

  @include breakpoint($mobile-bp) {
    margin: 4.5rem 0 7rem;
  }
}

.programs {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  gap: 9rem;
  @include breakpoint($mobile-bp) {
    gap: 8.1rem;
  }
}

.program {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:nth-child(4n + 2),
  &:nth-child(4n + 1) {
    opacity: 0;
    transform: translateX(-5rem);
    transition: opacity 0.5s, transform 1s;
    &.anim-active {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &:nth-child(4n + 3),
  &:nth-child(4n + 4) {
    opacity: 0;
    transform: translateX(5rem);
    transition: opacity 0.5s, transform 1s;
    &.anim-active {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @include breakpoint($tablet-bp) {
    &:nth-child(1n) {
      opacity: 0;
      transform: translateY(5rem);
      transition: opacity 0.5s, transform 1s;
      &.anim-active {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  @include breakpoint($mini-tablet-bp) {
    &:nth-child(2n + 1) {
      opacity: 0;
      transform: translateX(-5rem);
      transition: opacity 0.5s, transform 1s;
      &.anim-active {
        opacity: 1;
        transform: translateX(0);
      }
    }
    &:nth-child(2n + 2) {
      opacity: 0;
      transform: translateX(5rem);
      transition: opacity 0.5s, transform 1s;
      &.anim-active {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

.program__title {
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-align: center;

  color: $secondary;

  max-width: 8rem;
  margin-top: 2.4rem;
  margin-bottom: 4rem;
}

.stars {
  display: flex;
  gap: 0.9rem;
}

.star {
  width: 2.2rem;
  height: 2rem;
  background: url(/assets/images/skills/star.svg);
  &.active {
    background: url(/assets/images/skills/star-active.svg);
  }
}
