<footer class="footer" id="footer">
  <div class="container container--footer">
    <h2 class="footer__title">Contacts</h2>
    <p class="footer__text">Want to know more or just chat? You are welcome!</p>
    <a href="#" class="footer__button">Send message</a>
    <ul class="footer__social">
      <li class="footer__social__item">
        <a href="https://www.un.org/ru/get-involved/social-media"><img src="/assets/images/footer/in.svg" alt="" /></a>
      </li>
      <li class="footer__social__item">
        <a href="https://www.instagram.com/"><img src="/assets/images/footer/instagram.svg" alt="" /></a>
      </li>
      <li class="footer__social__item">
        <a href="https://www.behance.net/"><img src="/assets/images/footer/behance.svg" alt="" /></a>
      </li>
      <li class="footer__social__item">
        <a href="http://store.surface-pro.ru/"><img src="/assets/images/footer/surface.svg" alt="" /></a>
      </li>
    </ul>
    <p class="footer__subtext anim-item">
      Like me on<br />
      LinkedIn, Instagram, Behance, Dribble
    </p>
  </div>
</footer>
