<meta charset="UTF-8" />
<link rel="stylesheet" href="assets/css/style.min.css" />
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icon/icon32x32.png" />

<!-- Useful meta tags -->
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="robots" content="index, follow" />
<meta name="google" content="notranslate" />
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="" />

<title>{{ title }}</title>
