<header>
  <div class="container">
    <nav class="nav" id="nav">
      <ul class="nav__ul">
        <li class="nav__li"><a class="lng-nav__linkHome" href="#home">Home</a></li>
        <li class="nav__li"><a class="lng-nav__linkAbout" href="#about">About me</a></li>
        <li class="nav__li"><a class="lng-nav__linkSkills" href="#skills">Skills</a></li>
        <li class="nav__li"><a class="lng-nav__linkPortfolio" href="#portfolio">Portfolio</a></li>
        <li class="nav__li"><a class="lng-nav__linkContacts" href="#footer">Contacts</a></li>
      </ul>
    </nav>

    <hr class="header__hr" />
  </div>
  <button class="burger" id="burger"></button>
</header>
